

#product-overview {
    /* background: url("freedom.jpg"); */
    background-image: url("freedom.jpg");
    background-size: 100%;
    background-size: contain; /* ensure that the whole image will be displayed (no matter if it fill the whole container)*/
    background-size: cover;/*ensure that the image will always fill the entire container (will event zoom in the image to do so)*/
   

    /*background-position - decide how the image should be croped*/
    background-position: /*X:*/20px /*Y:*/-150px;
    background-position: /*X:*/30% /*Y:*/0%;
    background-position: /*X:*/left /*Y:*/bottom;
    background-position: /*X:*/left 10%/*Y:*/bottom 20%;
    
    border: 5px red dashed;
    background-origin: border-box;
    background-clip: content-box;
    
    /*1 shorthand for all above*/
    background: url("freedom.jpg") left 10% bottom 20%/cover no-repeat border-box content-box;
    /*background-position with precents (%) works different than px
    px - how much px the image should be pushed
    % - if not all the image diplayed - how this part should be distributed
    https://www.w3schools.com/cssref/pr_background-position.asp
    */
    background-repeat: no-repeat;
    background-image:linear-gradient(to left top ,#650681 /*how much it takes from background*/20%,#5378bd,red); 
    /*linear-gradient(30deg ,#972bb8,#2d6bdf);*/
    background-image:radial-gradient(circle at  top  ,red,blue);/*radial-gradient(red,blue);*/
    /*
    Multi Backgrounds
    - you can is many multi background-images and 1 solid background color
    */
    /*Setting Multi Background*/
    background:linear-gradient(to top ,rgba(80,68,18,0.7),transparent) , /*first background - will be on top of the image*/
    url("freedom.jpg") left 10% bottom 20%/cover no-repeat border-box content-box ,
    purple;
    
    width: 100%;
    height: 528px;
    padding: 10px;
    margin-top: 43px;
    position: relative;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 8px 0;
}

#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

/* h1 {
    font-family: sans-serif;
} */

