* {
    box-sizing: border-box;
    font-size: 1.5rem;
}



html {
    background: #b3b3b3;
    padding: 5px;
}
span{
    font-weight: bold;
    color:red;
}
body {
    background: #b3b3b3;
    padding: 5px;
    margin: 0;
  }
  
.container{
    background: white;
    padding: 10px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
}
.flex-container-1 {
    align-items: center;
    width: 120vw;
}

.flex-container-2 {
    flex-direction: column;
    align-items: center;
    height: 150vh;

}
.flex-container-3 {
    justify-content: center;
    width: 150vw;

}

.flex-container-4 {
    flex-direction: column;
    justify-content: center;
    height: 150vw;

}


.item-1 {
    background: #ff7300;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}

.item-2 {
    background: #ff9640;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 250px;
    font-size: 1.8rem;
}

.item-3 {
    background: #ff9640;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    height: 250px;
}

.item-4 {
    background: #f5c096;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 300px;
    height: 300px;
}

.item-5 {
    background: #d3c0b1;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 350px;
}

.item-6 {
    background: #d3c0b1;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 350px;
}